.block
	= simple_form_for slider do |f|
	  = f.input :slider_image, as: :attachment, direct: true, presigned: true, label: "Выберите изображение для слайдера рабочего стола. Размеры 1280/890 и желательно формат jpg", required: false
	  = f.button :submit
