#logo img {
  float: left;
  width: 85px;
  height: 53px;
  top: 4px;
  margin-left: 12px;
  margin-top: 2px;
}

p {
  text-align: justify;
  text-transform: none;
  font-size: 125%;
  padding: 5%;
  font-family: 'Pacifico', cursive;
}

#slider {
  vertical-align: middle;
  margin-top: 58px;
  text-align: center;
}
#inner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.one-third {
  width: 29%;
  float: left;
  margin: 2%;
}
.circle {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: #011627;
  border-radius: 50%;
}
.one-third i{
  color: #FDFFFC;
  font-size: 555%;
  padding: 20%;
}

.one-third h3 a, .one-third p a {
  color: #011627;
}

.one-third h3 a:hover, .one-third p a:hover {
  color: #2EC4B6; 
}

.clearfix {
  clear: both;
}

article {
  float: left;
  width: 50%;
  padding: 4%;
}

.border_image img{
  border-radius: 10%;
  border: 2px solid #011627; 
  margin-bottom: 1vw;
}

.border_images{  
  border-radius: 10%;
  border: 2px solid #011627; 
  margin-bottom: 1vw;
}

.circle-image img{
  border-radius: 20px;
  border: 4px solid #011627;
}

.main{
  max-width: 1000px;
  margin: auto;
}

.sl.slick-initialized.slick-slider{
  margin-bottom: 5px;
} 

.sl2 {
  margin-top: 0;
  padding-top: 0;
}

.sl5 {
  padding: 5px;
}

.sl5 img {
  padding: 3px;
  background: #FDFFFC;
  border-radius: 3px;
  border: 2px solid #2EC4B6;
  cursor: pointer;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.slick-current img {
  background: #2EC4B6;
}

.sl5 img:hover{
  background: #2EC4B6;
}


aside {
  float: right;
  width: 45%;
  margin-right: 2.5vw;
}

.circle-text {
  margin-top: 0;
  margin-right: auto;
  width: 45%;
  margin-left: auto;
  width: 1005px;
}

.circle-text h3 {
  padding-bottom: 0vw;
} 

.circle-text p {
  padding-top: 0;
  color: #FF9F1C ;
}

aside h3 {
  font-family: 'Lora', serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 200%;
  padding: 5%;
  margin-top: 1vw;
  padding-bottom: 0;
}
aside h3 a {
  color: #011627;
}

aside h3 a :hover {
  color: #2199e8;
}

.block {
  width: auto;
  height: auto;
}

aside p {
  padding-top: 0;
}

section h3 {
  margin-top: 7px;
  margin-bottom: 0;
  padding: 0;
}

section p {
  margin-top: 0;
  padding-top: 2px;
}

.block1 {
  width: 1000px;
  margin-right: auto; 
  margin-left: auto; 
}
