@media screen and (max-width: 768px) {
  
  header {
  	position: absolute;
  }

  .navigation #menu-icon {
  	display: inline-block;
  }

  .navigation:hover ul {
    display: block;
  }

  .navigation ul, .navigation:active ul {
  	display: none;
  	z-index: 1000;
  	position: absolute;
  	background: #011627;
  	width: 50%;
  	padding: 20px;
  	right: 28px;
  	top: 65px;
  	font-size: 20px;
  	border: 1px solid #2EC4B6;
  	border-radius: 4px 0 4px 4px;
  }
  .navigation li {
  	text-align: center;
  	width: 100%;
  }
  .one-third {
  	width: 100%;
  	margin: 0;
  }
  .circle {
    width: 100px;
    height: 100px;
  }
  .one-third i {
  	font-size: 360%;
  }
  article {
  	width: 100%;
  	padding: 0;
  	margin: 0;
  }
  aside {
  	width: 100%;
  }
  h4 {
  	font-size: 140%;
  }
}