@media screen and (max-width: 768px) {
  
  header {
  	position: absolute;
  }

  .navigation #menu-icon {
  	display: inline-block;
  }

  .navigation:hover ul {
    display: block;
  }

  .navigation ul {
  	display: none;
  	z-index: 1000;
  	position: absolute;
  	background: #011627;
  	width: 50%;
  	padding: 20px;
  	right: 28px;
    margin-bottom: 5px;
  	font-size: 20px;
  	border: 1px solid  ;
  	border-radius: 4px 0 4px 4px;
  }
  .navigation li {
  	text-align: center;
  	width: 100%;
  }
  .one-third {
  	width: 100%;
  	margin: 0;
  }
  .circle {
    width: 100px;
    height: 100px;
  }
  .one-third i {
  	font-size: 360%;
  }
  article {
  	width: 100%;
  	padding: 0;
  	margin: 0;
  }
  aside {
  	width: 100%;
  }
  h4 {
  	font-size: 140%;
  }
  footer .one-third {
    width: 100%;
    margin: 0;
  }
  .social i {
    font-size: 245%;
  }
  #footer-third {
    min-height: 150px;
    padding-bottom: 10%;
  }
  #footer-third-center {
    border-top: 1px solid #2EC4B6;
    border-bottom: 1px solid #2EC4B6;
  }
}
@media screen and (max-width: 478px) {
  h3 {
    font-size: 150%;
  }
  p {
    font-size: 100%;
    margin: 2%;
  }
}