h3 {
  font-family: 'Lora', serif;
  font-size: 190%;
  padding: 3% 0;
}

h4 {
  font-size: 170%;
  padding: 5% 0;
}

h5 {
  font-size: 10%;
  padding: 5% 0;
}

img {
  max-width: 100%;
}

header {
  height: 60px;
  background: #FDFFFC;
  position: fixed;
  z-index: 1000;
  width: 100%;
  opacity: .95;
  top: 0;
}

#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  margin-top: 13px;
  margin-right: 3px;
  float: right;
  font-size: 20px;
}

.navigation ul li {
  display: inline-block;
  padding-left: 1vw;
}

.navigation ul li a {
  color: #011627;
  text-decoration: none;
  font-weight: 700;
}

.navigation ul li a:hover {
  color: #2EC4B6;
  text-decoration: underline;
}

.navigation #menu-icon {
  color: #2EC4B6;
  display: none;
}
.navigation #menu-icon .fa.fa-bars {
  position: absolute;
  text-decoration: none;
  top: 0;
  font-size: 37px;
  margin-top: 9px;
  right: 20px;
  padding-top: 0;
}