  .top-bar {
  @include breakpoint(small only) {
    &-menu {
      flex-direction: column;

      align-items: flex-start;
    }
  }

  @include breakpoint(medium) {
    &-right {
      justify-content: flex-end;
    }
  }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
.menu {
  margin-top: 15vw;
  width: 20vw;
  margin-left: -10vw;
}

.menu a {
  color: #011627;
  display: block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  width: 100;
  font-size: 1.8vw;
  float: left;
}

.menu a:hover {
  color: #FF9F1C;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  width: 100;
  font-size: 1.85vw;
  --webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.menu li {
  box-shadow: 4vw 2 rgba(225, 225, 225, .2) inset;
  margin-bottom: 0.5vw;
  --webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu li:hover{
  box-shadow: 20vw 0 rgba(225, 225, 225, .2) inset;
}

#slider {
  overflow:hidden;
  margin-bottom: none;
  z-index: 40;
}
.slick-slide img {
  transform: scale(1);
  transition: transform 7s;
}
.slick-current img {
  transform: scale(1.1);
}

nav {
  height: 100%;
  display: none;
  padding-top: 3em;
  position: absolute;
  top: 0;
}
nav.mostrar {
  position: absolute;
  display: block;
  right: 0;
}

.fa.fa-bars {
  cursor: pointer;
  font-size: 3vw;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 6vw;
}