@import "core/all";
@import "components/all";
@import "slick";
@import "slick-theme";

body {
  background-color:#011627;
}
.block {
  border-radius: 4px;
  background-color:#2EC4B6;
  margin: 6px;
}

.index_all_sliders {
  img {
	  padding:2px;
    border:3px solid #E71D36;
    border-radius: 25px;
    background-color:#FDFFFC;
    margin-right: 10px;
    width: 40%;
    line-height: 1px;
  }
}

.menu {
  list-style: none;
  line-height: 42px;
  padding-left: 0;
  width: 20em;
}

#map {
  width: auto;
  height: 150px;
}

.menu a {
  color: #FF9F1C;
  display: block;
  text-decoration: none;
  font-family: 'Vollkorn SC', serif;
  text-transform: uppercase;
  width:100;
  font-size: 23px;
}

.menu li {
  box-shadow: 6px 0 rgba(225, 225, 225, .2) inset1;
  padding-left: 1em;
  margin-bottom: 5px;
  --webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu li:hover{
  box-shadow: 20em 0 rgba(225, 225, 225, .2) inset;
}

#slider {
  overflow:hidden;
  margin-bottom: none;
}
.slick-slide img {
  transform: scale(1);
  transition: transform 7s;
}
.slick-current img {
  transform: scale(1.1);
}

