@import "core/all";
@import "components/all";
@import "slick";
@import "slick-theme";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color:#FDFFFC;
}
.block {
  border-radius: 4px;
  background-color:#2EC4B6;
  margin: 6px;
}

.index_all_sliders {
  img {
	  padding:2px;
    border:3px solid #E71D36;
    border-radius: 25px;
    background-color:#FDFFFC;
    margin-right: 10px;
    width: 40%;
    line-height: 1px;
  }
}

#map {
  width: auto;
  height: 150px;
}


.footer {
  background-color: #011627;
  width: 500px;
  height: 500px;
}