@import "core/all";
@import "components/all";
@import "slick";
@import "slick-theme";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: #FDFFFC;
  color: #011627;
  font-family: 'Open Sans', sans-serif;
  line-height: 190%;
  text-align: center;
  text-transform: uppercase; 
  margin: 0 auto;
}

.block {
  border-radius: 4px;
  background-color: #FF9F1C;
  margin: 6px;
}

.form {
  width: 900px; /* Ширина элемента в пикселах */
  padding: 10px; /* Поля вокруг текста */
  margin: auto;  
}


.index_all_sliders {
  img {
	  padding:2px;
    border:3px solid #E71D36;
    border-radius: 25px;
    background-color: #FDFFFC;
    margin-right: 10px;
    width: 40%;
    line-height: 1px;
    margin-top: 20px;
  }
}

#map {
  border-top: 1px solid #2EC4B6;
  width: auto;
  height: 200px;
}


.footer {
  background-color: #011627;
  width: 500px;
  height: 500px;
}

.slick-slide img {
  transform: scale(1);
  transition: transform 7s;
}
.slick-current img {
  transform: scale(1.1);
}